<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona administratora</title>
    <script th:src="@{//code.jquery.com/jquery-3.3.0.min.js}"></script>
    <link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script>
    <script th:src="@{//code.jquery.com/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/scripts/navbar.js}"></script>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" id="bootstrap-nav-css">
    <link href="../static/css/loginSite.css" th:href="@{/css/loginSite.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mój sklep</a>
        </div>

        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Strona administratora</a></li>
                <li><a href="#">Wyszukaj</a></li>
                <li><a href="#">Zestaw komputerowy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Moje konto<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/login">Zaloguj się</a></li>
                        <li><a href="/register">Zarejestruj</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </nav>




</div>

</body>
</html>