<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Konfiguracja PC</title>
    <script th:src="@{//code.jquery.com/jquery-3.3.0.min.js}"></script>
    <link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script>
    <script th:src="@{//code.jquery.com/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/scripts/navbar.js}"></script>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" id="bootstrap-nav-css">
    <link href="../static/css/loginSite.css" th:href="@{/css/loginSite.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mój sklep</a>
        </div>

        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Strona administratora</a></li>
                <li><a href="/search">Wyszukaj</a></li>
                <li><a href="/pcconfig">Zestaw komputerowy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" userRole="button" aria-expanded="false">Moje konto<span class="caret"></span></a>
                    <ul class="dropdown-menu" userRole="menu">
                        <li sec:authorize="isAnonymous()"><a href="/login">Zaloguj się</a></li>
                        <li sec:authorize="isAnonymous()"><a href="/register">Zarejestruj</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/logout">Wyloguj</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </nav>

    <h2 th:text="${user}"></h2>
    <table class="table" style="background-color: white">
        <thead>
        <tr>
            <th>Typ komponentu</th>
            <th>Nazwa komponentu</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Karta graficzna</td>
            <td><span th:if="${isGraphicCard}" th:text="${graphicCardName}"></span>
                <span th:if="${!isGraphicCard}"><a th:text="Dodaj" class="btn btn-success" th:href="@{/search}"></a></span></td>
            <td><span th:if="${isGraphicCard}" th:text="${graphicCardPrice}"></span></td>
        </tr>
        <tr>
            <td>Procesor</td>
            <td><span th:if="${isProcessor}" th:text="${processorsName}"></span>
                <span th:if="${!isProcessor}"><a th:text="Dodaj" class="btn btn-success" th:href="@{/search}"></a></span></td>
            <td><span th:if="${isProcessor}" th:text="${graphicCardPrice}"></span></td>
        </tr>
        <tr>
            <td>Zasilacz</td>
            <td><span th:if="${isPowerSupply}" th:text="${powerSupplyName}"></span>
                <span th:if="${!isPowerSupply}"><a th:text="Dodaj" class="btn btn-success" th:href="@{/search}"></a></span></td>
            <td><span th:if="${isPowerSupply}" th:text="${powerSupplyPrice}"></span></td>
        </tr>
        <tr>
            <td>Suma:</td>
            <td></td>
            <td>2000</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>